* {
    padding: 0;
    margin: 0;
}

body {


    font-family: "Gabarito", sans-serif;

}

.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar-s1__title {
    color: #a435f0;
}

.navbar-s2 {
    padding: 10px;
    margin: 10px;
    display: flex;
    width: 60%;
    border: solid black 1px;
    border-radius: 30px;
    gap: 10px;
    align-items: center;
    
}

.navbar-s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar-s2 input:focus {
    outline: none;
}

.navbar-s3 {
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
}
.navbar-s4{
    display: none;
}
/* My Learning popup */
.mylearning{
    position: relative;
    cursor: pointer;
    
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 2px;
    width: 100px;
    top: 20px;
    padding: 10px;
    border-radius: 30px;
    right: 0;
    display: none;
}

.categories {


    font: 70px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #a435f0;
    color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    border: solid #a435f0 1px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
   

}
.sale{
    position: relative;
}
.sale img{
    width: 100%;

}
.sale__offer{
    background-color: white;
    color: black;
    border: solid black 2px;
    width: 25%;
    padding: 2%;
    position: absolute;
    top: 200px;
    left: 900px;
    
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}

.recommanded-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;



}

.course-card {
    /* width: 300px; */
    /* padding: 10px; */
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    


}

.course-card img {
    width: 100%;
    height: 70%;
}

.topics{
    padding: 10px;
    margin-top: 10px;
    
    

}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.topics__container p{
     padding: 10px;
     display: flex;
     border: solid grey 3px;
     flex-grow: 1;
     flex-basis: 25%;
}
.popular{
    padding: 10px;

}
  
.popular-card{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.popular__container img{
    width: 100%;
    height: 60%;
}
.footer{
    background-color: black;
    color: white;
}
.footer-one{
    display: flex;
    gap: 20px;
    
}
.footer-two{
    align-items: center;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-one__s2 p,.footer-one__s1 p{
    margin: 20px;
}
@media screen and (max-width:1400px) {
   
    .sale__offer{
        top: 50px;
        left: 500px;
    }
}
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
    .sale__offer{
        top: 50px;
        left: 300px;
    }
    
}
@media screen and (max-width:600px) {
    .course-card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar-s2,.navbar-s3{
        display: none;
    }
    .navbar-s4{
        display: block;
    }
    .sale__offer{
        top: 50px;
        left: 300px;
    }
    
}
